<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
            border-bottom: 2px solid #333;
            padding-bottom: 5px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        strong {
            font-weight: bold;
        }
    </style>
</head>
<body>
    {% for data in data_list %}
    <h1>{{data.location}}</h1>
    <ul>
        <li>Location: {{ data.location }}</li>
        <li>Timestamp: {{ data.timestamp }}</li>
        <li>Values:
            <ul>
                {% for key, value in data["values"].items() %}
                    <li>{{ key }}:{{ value }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% endfor %}
</body>
</html>